<div class=" footer">
  <div class="col-md-12 middle">
    <ul>
      <li class="foot">
        <a href="#" class="link">Privacy Statement</a>
      </li>
      <li class="foot">
        <a href="#" class="link">Linking Statement</a>
      </li>
      <li class="foot">
        <a href="#" class="link">About Site Provider</a>
      </li>
      <li class="foot">
        <a href="#" class="link">pwc.com/us</a>
      </li>
    </ul>
  </div>
  <div class="col-md-2 last">
    <a (click)="showDialog = !showDialog" class="btn" class="link">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
</div>


