<div class="aside" id="sidebar">
  <div class="navigation">
    <ul>
      <li><span class="glyphicon glyphicon-home" title="Home" routerLink='/home'></span><a routerLink='/home'>Home</a></li>
      <li><span class="glyphicon glyphicon-plus" title="New Request" routerLink='/newrequest'></span><a routerLink='/newrequest'>New Request</a></li>
      <li><span class="glyphicon glyphicon-search" title="Search Consultation" routerLink='/searchconsultation'></span><a routerLink='/searchconsultation'>Consultation</a></li>
      <li><span class="glyphicon glyphicon-list-alt" title="Reports" routerLink='/reports'></span><a routerLink='/reports' >Reports</a></li>
      <li><span class="glyphicon glyphicon-user" title="Admin" routerLink='/admin'></span><a routerLink='/admin'>Admin</a></li>
    </ul>
    <div class="empty"></div>
  </div>
</div>